  <div class="row">
    <div class="col-xs-4">
      <div class="shadow2 round">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Rate</h3>
          </div>
          <div class="panel-body">
            <div>
              <label>Invoice Price</label>
              <%= f.text_field :invoice_price, class: 'bsInputSize center form-control' %>
            </div>
            <br>
            <div id="showToOwnerOperators">
              <div>
                <label>Booking Fee</label>
                <%= f.text_field :booking_fee, class: 'bsInputSize center form-control'  %>
              </div>
              <br>
              <div>
                <label>Percentage to Comapny</label>
                <br>
                <%= f.collection_select :percentage_id, Percentage.all, :id, :amount, class: 'form-control' %>
              </div>
              <br />
              <div>
                <label>Company Fee:</label> 
                <%= f.text_field :percent_coverted_to_dollars, class: 'bsInputSize center form-control', readonly: true  %>
              </div>
              <br />
              <div>
                <label>Operator Rate:</label>
                <%= f.text_field :rate_to_owner_operator, class: 'bsInputSize center form-control'  %>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="shadow2 round">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
          </div>
          <div class="panel-body">
            <%= f.input :status_name, collection: ApplicationRecord::LoadStatusStatus,
              include_blank: "Select", label: "Select Status" %> 
            <%= f.input :dimentions, label: 'Dimentions', placeholder: 'Dimentions', class: 'form-control' %>
            <%= f.input :description, label: "Description",
              placeholder: '24 pallets - 5 crates -18 boxes - 10 ...', class: "form-control" %>
            <%= f.input :commodity,
              collection: ApplicationRecord::Commodity, include_blank: "Select" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="shadow2 round">
        <div class="panel panel-success">
          <div class="panel-heading"> 
            <h3 class="panel-title">Broker contact for driver</h3>
          </div>
          <div class="panel-body">
            <%= f.input :broker_rep_name, label: "Broker rep name", class: 'form-control' %>
            <label>Broker Email</label>
            <%= f.text_field :broker_rep_email, label: "Broker email", class: 'form-control' %><br>
            <label>Broker Office Tele</label>
            <%= f.text_field :broker_rep_number, id: 'phone', class: 'form-control' %><br>
            <label>Broker Cell</label>
            <%= f.text_field :broker_rep_cell, id: 'phone2', class: 'form-control' %>   
          </div>
        </div>
      </div>
    </div>
  </div>