
<div class="ui card">
  <div class="content">
    <%= simple_form_for [@driver, @new_message] do |f| %>
    
      <%= f.input :number %> 
        <%= f.input :user, input_html: { value:  @company_user.full_name }, as: :hidden %>
      <div class="field">
        <%= f.text_field :text %>
      </div>
      <div class="text right aligned">

        <%= f.submit 'Send', class: "btn btn-success btn-sm round" %> 

      </div>
    <% end %>
  </div>
</div>
