<!-- Section: About -->
<strong>Admin edit view</strong>
<section id="about" class="section">
  <div class="container">
    <!-- Section Header -->
    <!--style="display: none"-->             <div class="row" style="display: none">
      <div class="col-md-6 col-md-offset-3">
        <header class="text-center">
          <h2 class="section-title">
            <%= link_to @fpt50.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt50.id, :anchor => "editString") %>
            <span class="text-theme">
  
            </span>
          </h2>
          <p class="section-subtitle">
            <%= link_to @fpt51.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt51.id, :anchor => "editString") %>
          </p>
        </header>
      </div>
    </div>
    <!-- /Section Header -->
    <div class="row">
      <!-- Feature Block -->
      <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s">
        <span class="icon_link_alt icon fa fa-flag"></span>
        <div class="h3 title">
          <%= link_to @fpt52.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt52.id, :anchor => "editString") %>
        </div>
        <p class="description">
          <%= link_to @fpt53.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt53.id, :anchor => "editString") %>
        </p>
        <!--<a href="#" class="btn btn-theme">-->
        <!--More...-->
        <!--</a>-->
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
        <span class="icon_pens icon fa fa-laptop"></span>  
        <div class="h3 title">
          <%= link_to @fpt54.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt54.id, :anchor => "editString") %>
        </div>
        <p class="description">
          <%= link_to @fpt55.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt55.id, :anchor => "editString") %>
        </p>
        <!--<a href="#" class="btn btn-theme">-->
        <!--More...-->
        <!--</a>-->
      </div>
      <!-- /Feature Block --> 
      <!-- Feature Block --> 
      <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
        <span class="icon_pens icon fa fa-users"></span>
        <div class="h3 title">
          <%= link_to @fpt56.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt56.id, :anchor => "editString") %>
        </div>
        <p class="description">
          <%= link_to @fpt57.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt57.id, :anchor => "editString") %>
        </p>
        <!--<a href="#" class="btn btn-theme">-->
        <!--More...-->
        <!--</a>-->
      </div>
      <!-- /Feature Block -->
    </div>
  </div>
</section>
<!-- /Section: About -->

