<!-- Section: Best Features -->
<strong>Admin edit view</strong>
<section id="best-features" class="section">
  <div class="container">
    <!-- Section Header -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <header class="text-center">
          <h2 class="section-title">
            <%= link_to @fpt25.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt25.id, :anchor => "editString") %>
            <span class="text-theme">
            <%= link_to @fpt26.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt26.id, :anchor => "editString") %>
            </span>
          </h2>
          <p class="section-subtitle">
            <%= link_to @fpt27.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt27.id, :anchor => "editString") %>
          </p>
        </header>
      </div>
    </div>
    <!-- /Section Header -->
    <!-- Section Content -->
    <div class="row section-content">
      <div class="col-md-6">
        <h3>
          <%= link_to @fpt28.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt28.id, :anchor => "editString") %>
        </h3>
        <ul class="list">
          <li>
            <h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
              <%= link_to @fpt29.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt29.id, :anchor => "editString") %>
            </h4>
            <p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
              <%= link_to @fpt30.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt30.id, :anchor => "editString") %>
            </p>
          </li>
          <li>
            <h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
              <%= link_to @fpt31.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt31.id, :anchor => "editString") %>
            </h4>
            <p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
              <%= link_to @fpt32.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt32.id, :anchor => "editString") %>
            </p>
          </li>
          <li>
            <h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.6s">
              <%= link_to @fpt33.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt33.id, :anchor => "editString") %>
            </h4>
            <p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.6s">
              <%= link_to @fpt34.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt34.id, :anchor => "editString") %>
            </p>
          </li>
        </ul>
      </div>
      <!-- Section Image -->
      <div class="col-md-6 hidden-sm hidden-xs bounceInRight wow" data-wow-duration="1.3s"> 
        <%=image_tag("front_pages/devices.png", class:"img-responsive") %> 
      </div>
      <!-- /Section Image -->
    </div>
    <!-- /Section Content -->
  </div>
</section>
<!-- /Section: Best Features -->