<!-- Section: More Features -->
<strong>Admin edit view</strong>
<section id="more-features" class="section">
  <div class="container">
    <!-- Section Header -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <header class="text-center">
          <h2 class="section-title">
            <%= link_to @fpt35.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt35.id, :anchor => "editString") %> 
            <span class="text-theme">
            <%= link_to @fpt36.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt36.id, :anchor => "editString") %>
            </span>
          </h2>
          <p class="section-subtitle">
            <%= link_to @fpt37.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt37.id, :anchor => "editString") %>
          </p>
        </header>
      </div>
    </div>
    <!-- /Section Header -->
    <!-- Section Content -->
    <div class="row section-content zoomIn wow">
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature">
        <div class="media">
          <div class="media-left">
            <span class="icon_link_alt icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= link_to @fpt38.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt38.id, :anchor => "editString") %>
            </h3>
            <p class="description">
              <%= link_to @fpt39.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt39.id, :anchor => "editString") %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature">
        <div class="media">
          <div class="media-left">
            <span class="icon_easel icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= link_to @fpt40.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt40.id, :anchor => "editString") %>
            </h3>
            <p class="description">
              <%= link_to @fpt41.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt41.id, :anchor => "editString") %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature">
        <div class="media">
          <div class="media-left">
            <span class="icon_puzzle icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= link_to @fpt42.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt42.id, :anchor => "editString") %>
            </h3>
            <p class="description">
              <%= link_to @fpt43.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt43.id, :anchor => "editString") %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature">
        <div class="media">
          <div class="media-left">
            <span class="icon_download icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= link_to @fpt44.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt44.id, :anchor => "editString") %>
            </h3>
            <p class="description">
              <%= link_to @fpt45.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt45.id, :anchor => "editString") %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature"> 
        <div class="media">
          <div class="media-left">
            <span class="icon_heart_alt icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= link_to @fpt46.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt46.id, :anchor => "editString") %>
            </h3>
            <p class="description">
              <%= link_to @fpt47.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt47.id, :anchor => "editString") %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature">
        <div class="media">
          <div class="media-left">
            <span class="icon_cogs icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= link_to @fpt48.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt48.id, :anchor => "editString") %>
            </h3>
            <p class="description">
              <%= link_to @fpt49.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt49.id, :anchor => "editString") %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
    </div>
    <!-- /Section Content -->
  </div>
</section>
<!-- /Section: More Features -->