<strong>Admin view</strong>
<hr>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt116.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt116.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt10.id, :anchor => "editImage") do %>
			<% if !@fpt10.image_input.present? || @fpt10.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt10.image_input_url(:slider) %> 
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt10.image_input %>
		</div>
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt117.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt117.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt11.id, :anchor => "editImage") do %>
			<% if !@fpt11.image_input.present? || @fpt11.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt11.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt11.image_input %>		
		</div>
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt118.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt118.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt12.id, :anchor => "editImage") do %>
			<% if !@fpt12.image_input.present? || @fpt12.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt12.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt12.image_input %>		
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt119.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt119.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt13.id, :anchor => "editImage") do %>
			<% if !@fpt13.image_input.present? || @fpt13.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt13.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt13.image_input %>
		</div>
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt120.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt120.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt14.id, :anchor => "editImage") do %>
			<% if !@fpt14.image_input.present? || @fpt14.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt14.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt14.image_input %>		
		</div>
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt121.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt121.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt15.id, :anchor => "editImage") do %>
			<% if !@fpt15.image_input.present? || @fpt15.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt15.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt15.image_input %>		
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt122.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt122.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt16.id, :anchor => "editImage") do %>
			<% if !@fpt16.image_input.present? || @fpt16.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt16.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt16.image_input %>		
		</div>
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt123.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt123.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt17.id, :anchor => "editImage") do %>
			<% if !@fpt17.image_input.present? || @fpt17.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt17.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt17.image_input %>		
		</div>
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt124.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt124.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt18.id, :anchor => "editImage") do %>
			<% if !@fpt18.image_input.present? || @fpt18.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt18.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt18.image_input %>		
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt125.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt125.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt19.id, :anchor => "editImage") do %>
			<% if !@fpt19.image_input.present? || @fpt19.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt19.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt19.image_input %>		
		</div>
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt126.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt126.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt20.id, :anchor => "editImage") do %>
			<% if !@fpt20.image_input.present? || @fpt20.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt20.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt20.image_input %>		
		</div>
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt127.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt127.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt21.id, :anchor => "editImage") do %>
			<% if !@fpt21.image_input.present? || @fpt21.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt21.image_input_url(:slider) %>
			<% end %>
			<% end %>
				<br>
			 <strong>Current image URL: </strong><%= @fpt21.image_input %>	
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt128.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt128.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt22.id, :anchor => "editImage") do %>
			<% if !@fpt22.image_input.present? || @fpt22.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %><%= image_tag @fpt22.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt22.image_input %>		
		</div>
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt129.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt129.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt23.id, :anchor => "editImage") do %>
			<% if !@fpt23.image_input.present? || @fpt23.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt23.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt23.image_input %>		
		</div>
		<div class="col-sm-4">
			<div><%= link_to "edit url", edit_front_page_front_page_text_path(@front_page.id, @fpt130.id, :anchor => "editString"), class: "btn btn-default btn-xs" %>
				<strong>Current URL: </strong><%= @fpt130.string_input %>
				<br />
			</div><%= link_to edit_front_page_front_page_text_path(@front_page.id, @fpt24.id, :anchor => "editImage") do %>
			<% if !@fpt24.image_input.present? || @fpt24.show_default_image == true %>
			<%= image_tag "front_pages/351x150.png" %>
			<% else %>
			<%= image_tag @fpt24.image_input_url(:slider) %>
			<% end %>
			<% end %>
			<br>
			 <strong>Current image URL: </strong><%= @fpt24.image_input %>		
		</div>
	</div>
</div>