<!-- Section: Testimonials -->
<strong>Admin edit view</strong>
<section id="testimonials" class="section-small bg-light-gray">
  <div class="container">
    <!-- Section Header -->
    <div class="row">
      <div class="col-md-6">
        <header>
          <h2 class="section-title">
            <%= link_to @fpt58.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt58.id, :anchor => "editString") %>
            <span class="text-theme">
            <%= link_to @fpt59.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt59.id, :anchor => "editString") %>
            </span>
          </h2>
          <p class="section-subtitle">
            <%= link_to @fpt60.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt60.id, :anchor => "editString") %>
          </p>
        </header>
      </div>
    </div>
    <!-- /Section Header -->
    <!-- Section Content -->
    <div class="row mt">
      <div class="col-md-12 zoomIn wow">
        <!-- Testimonials Carousel -->
        <div id="testimonials-carousel" class="testimonials-carousel owl-carousel owl-theme">
          <!-- Testimonial -->
          <div class="testimonial">
            <div class="content">
              <div class="media">
                <div class="media-left">
                  <%= image_tag "front_pages/author-image-01.jpg", alt: "" %>
                </div>
                <div class="media-body media-middle">
                  <p class="text">
                    <%= link_to @fpt61.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt61.id, :anchor => "editString") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="info">
              <h4 class="author">
                <%= link_to @fpt62.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt62.id, :anchor => "editString") %>
              </h4>
              <span class="company">
              <%= link_to @fpt63.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt63.id, :anchor => "editString") %>
              </span>
            </div>
          </div>
          <!-- /Testimonial -->
          <!-- Testimonial -->
          <div class="testimonial">
            <div class="content">
              <div class="media">
                <div class="media-left">
                  <%= image_tag "front_pages/author-image-02.jpg", alt: "" %>
                </div>
                <div class="media-body media-middle">
                  <p class="text">
                    <%= link_to @fpt64.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt64.id, :anchor => "editString") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="info">
              <h4 class="author">
                <%= link_to @fpt65.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt65.id, :anchor => "editString") %>
              </h4>
              <span class="company">
              <%= link_to @fpt66.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt66.id, :anchor => "editString") %>
              </span>
            </div>
          </div>
          <!-- /Testimonial -->
          <!-- Testimonial -->
          <div class="testimonial">
            <div class="content">
              <div class="media">
                <div class="media-left">
                  <%= image_tag "front_pages/author-image-03.jpg", alt: "" %>
                </div>
                <div class="media-body media-middle">
                  <p class="text">
                    <%= link_to @fpt67.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt67.id, :anchor => "editString") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="info">
              <h4 class="author">
                <%= link_to @fpt68.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt68.id, :anchor => "editString") %>
              </h4>
              <span class="company">
              <%= link_to @fpt69.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt69.id, :anchor => "editString") %>
              </span>
            </div>
          </div>
          <!-- /Testimonial -->
          <!-- Testimonial -->
          <div class="testimonial">
            <div class="content">
              <div class="media">
                <div class="media-left"> 
                  <%= image_tag "front_pages/author-image-04.jpg", alt: "" %>
                </div>
                <div class="media-body media-middle">
                  <p class="text">
                    <%= link_to @fpt70.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt70.id, :anchor => "editString") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="info">
              <h4 class="author">
                <%= link_to @fpt71.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt71.id, :anchor => "editString") %>
              </h4>
              <span class="company">
              <%= link_to @fpt72.string_input, edit_front_page_front_page_text_path(@front_page.id, @fpt72.id, :anchor => "editString") %>
              </span>
            </div>
          </div>
          <!-- /Testimonial -->
        </div>
        <!-- /Testimonials Carousel -->
      </div>
    </div>
    <!-- /Section Content -->
  </div>
</section>
<!-- /Section: Testimonials -->