<%= simple_form_for [@trailer, @trailer_mile] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :mileage %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-hrcinfo btn-sm round"  %>
  </div>
  <br />
<% end %>
