<p id="notice"><%= notice %></p>

<p>
  <strong>Mileage:</strong>
  <%= @mile.mileage %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @mile.notes %>
</p>

<%= link_to 'Edit', edit_trailer_trailer_mile_path(@trailer, @mile) %> |
<%= link_to 'Trailer Miles', trailer_trailer_miles_path %>
