

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<div class="row">
  <div class="col-md-10 col-xs-offset-1 shadow well">
    <h2>Sign up</h2>
    <div class="panel panel-default well">   
      <div class="panel-body">
        <div class="form-inputs">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i>
                </span>
                <%= f.input :first_name, autofocus: true,
                  label: false, placeholder: "First Name" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-check-circle-o"></i>
                </span>
                <%= f.input :last_name, required: true,
                  label: false, placeholder: "Last Name" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-check-square"></i>
                </span>
                <%= f.input :email, required: true,
                  label: false, placeholder: "Email" %>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-mobile-phone"></i>
                </span>
                  <%= f.text_field :cellphone, id: 'cell', class: 'form-control', label: "Cellular" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-phone-square"></i>
                </span>
                  <%= f.text_field :telephone, id: 'phone', class: 'form-control', label: "Office Phone and Extention" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-plug"></i>
                </span>
                <%= f.input :extention, label: false,
                  placeholder: "Extention" %>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-street-view"></i>
                </span>
                <%= f.input :street, label: false,
                  placeholder: "Street" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-map-pin"></i>
                </span>
                <%= f.input :city, label: false,
                  placeholder: "City" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-map-o"></i>
                </span>
                <%= f.input :state, collection: ApplicationRecord::States,
                  label: false, placeholder: "State" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i>
                </span>
                <%= f.input :zip, label: false, placeholder: "zip code" %>
              </div>
            </div>
          </div>
          <hr>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-medkit"></i>
                </span>
                <%= f.input :emergency_contact, label: false, placeholder: "Emergency Contact" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-ambulance"></i>
                </span>
                <%= f.input :emergency_contact_number, label: false,
                  placeholder: "Emergency Contact Number" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group input-group">
                <%= f.input :profile_image, as: :file, label: "Profile Image" %>
              </div>
              </div>
              <div class="col-md-3">
                <div class="form-group input-group">
                  <%= f.input :profile_bg, as: :file, label: "Profile Background" %>
                </div>
              </div>
            </div>
          </div>
         <hr>
          <div class="row">
            <div class="col-md-4">
              <label><small>Choose TimeZone</small></label>
              <div class="form-group input-group">

                  <%= f.time_zone_select :time_zone,
                  ActiveSupport::TimeZone.us_zones%>
              </div>
            </div>
            <div class="col-md-4">
              <label><small>Choose a password</small></label>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-unlock"></i>
                </span>
                <%= f.input :password, label: false,
                  required: true %>
              </div>
            </div>
            <div class="col-md-4">
              <label><small>Confirm your password</small></label>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user-secret"></i>
                </span>
                <%= f.input :password_confirmation, label: false, autocomplete: "off", required: false %>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-primary btn-xs round", data: {disable_with: "working.."} %>
          </div>

          <br />
          <%= link_to "Back", :back, class: "btn btn-info btn-xs round" %>
          <hr>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
