<li><%= link_to "Home", root_path %></li> 
<li><%= link_to "Technology", technology_path %></li>
<li><%= link_to "Strategy", strategy_path %></li> 
<li><%= link_to "Safety", safety_path %></li> 
<li><%= link_to "Support", support_path %></li> 

