<style>
  @-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale(1, 1);
  }
  50% {
  -webkit-transform: scale(1.1, 1.1);
  }
  100% {
  -webkit-transform: scale(1, 1);
  };
  }
  @keyframes pulse {
  0% {
  transform: scale(1, 1);
  }
  50% {
  transform: scale(1.1, 1.1);
  }
  100% {
  transform: scale(1, 1);
  };
  }
  #load_origin_address_address_category_id,
  #load_origin_address_street, 
  #load_origin_address_city,
  #load_origin_address_state,
  #load_origin_address_pick_up_date,
  #load_origin_address_zip,
  #load_origin_address_pick_up_date {
  background: #ffe6e6; 
  width: 200px;
  height: 30px;  
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
  }
  #load_origin_address_address_category_id, 
  #load_origin_address_street, 
  #load_origin_address_city,
  #load_origin_address_state,
  #load_origin_address_pick_up_date,
  #load_origin_address_zip,
  #load_origin_address_pick_up_date:hover {  
  -webkit-animation: none;
  animation:none;
  }
</style>
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>Origin Address</h3>
        <strong><%= @load.shipper_company_name %></strong><br>
        <%= local_time(@load.pick_up_date, format: '%B %e, %Y') %>
      </div>
      <div class="panel-body">
        <address>
          <div><%= @load.origin_street  %></div>
          <div><%= @load.origin_city %></div>
          <div><%= @load.origin_state  %></div>
          <div><%= @load.origin_zip %></div>
          <br>
          <small>Phone: </small><%= @load.origin_phone  %><br />
          <small>Contact: </small><%= @load.origin_contact  %><br />
          <small>Notes: </small><%= @load.pick_up_notes %>
        </address>
      </div>
    </div>
  </div>
  <div class="col-sm-9 pull-right">
    <%= render "load_origin_master_js" %>
    <% if !@load_origin_address.present? %>
    <strong style="color: red;" >Default Destination is set to Toronto, <small>add an address to update...</small></strong>
    <% end %>
  </div>
</div>
<%= simple_form_for [@load, @address] do |f| %>
<%= f.error_notification %> 
<div class="row mouseJS">
  <div class="col-sm-3">
    <div class="form-group input-group">   
      <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
      <label>Select "Final Destination" when location is last address for haul.</label><br /> 
      <%= f.select :address_category_id, AddressCategory.all.map{ |form| [form.name, form.id]}, include_blank: 'Select Type' %> 
      <br><br>
      <label>Scheduled For</label><br /> 
      <%= f.input :pick_up_date %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-institution"></i></span>
      <%= f.input :company, label: false, placeholder: "Company Name" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
      <%= f.input :contact, label: false, placeholder: "Contact Person" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      <%= f.input :phone, label: false, placeholder: "Telephone" %>
    </div>
  </div>
</div>
<div class="row ">
  <div class="col-sm-3">
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-map"></i></span>
      <%= f.input :street, label: false, placeholder: "Street" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group input-group"> 
      <span class="input-group-addon"><i class="fa fa-map"></i></span>
      <%= f.input :city, label: false, placeholder: "City" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-map-o"></i></span>
      <%= f.input :state, collection: ApplicationRecord::States, label: false %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-map"></i></span>
      <%= f.input :zip, label: false, placeholder: "zip code" %> 
    </div>
  </div>
</div>
<div class="row mouseJS">
<div class="col-sm-4">
  <div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
    <%= f.input :notes, label: false, placeholder: "Notes" %>
  </div>
</div>
<div class="row mouseJS">
  <div class="col-sm-4">
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
      <%= f.input :miles, label: false, placeholder: "Miles -- Press 'Calculate'"  %> 
    </div>
  </div>
</div>
<div class="pull-right">
  <strong>
    <div class="calculateText" style="color: red;"> 
      Complete all fields and press Calculate, then create address.
    </div>
    <br />
    <div class="calculateText" style="color: red;"> 
      <% if @load.destination.present? %>
      <%= link_to 'Back to Load', load_path(@load), class: 'btn btn-hrcprimary btn-sm round' %>
      <% else %>
      This load has no final destination set.  Make sure that the final location is set to "Final Destination".
      <% end %>
    </div>
  </strong>
  <br />
  <%= f.button  :submit, "Add Stop",  class: 'btn btn-success btn-sm round', data: {disable_with: "One Moment..."} %>   
</div>
<% end %>
<%= render "calculate_distance" %>
<%= render "set_map_origin_destination" %>
<div id="result"></div>
<div class="row mouseJS">
  <div class="col-sm-12">
    <%= render "last_address" %> 
  </div>
</div>
<script>
  $(document).ready(function() { 
    $( ".calculateText" ).addClass( "hide" );
      $('.mouseJS').mouseover(function(){
          if ( ($('#load_origin_address_miles').val().length != 0) && 
              ($('#load_origin_address_street').val().length != 0) && 
              ($('#load_origin_address_city').val().length != 0) && 
              ($('#load_origin_address_state').val().length != 0) &&
              ($('#load_origin_address_pick_up_date').val().length != 0) &&
              ($('#load_origin_address_zip').val().length != 0))
                $( ".theSubmitButton" ).removeClass( "hide" ); 
  
          else
              $( ".theSubmitButton" ).addClass( "hide" );
      })      
  });
</script>
<script>
  $(document).ready(function() { 
    $( ".calculateText" ).removeClass( "hide" );
    $('.mouseJS').mouseover(function(){
          if ( ($('#load_origin_address_miles').val().length != 0) && 
              ($('#load_origin_address_street').val().length != 0) && 
              ($('#load_origin_address_city').val().length != 0) && 
              ($('#load_origin_address_state').val().length != 0) &&
              ($('#load_origin_address_pick_up_date').val().length != 0) &&
              ($('#load_origin_address_zip').val().length != 0))
                $( ".calculateText" ).addClass( "hide" );
  
          else
              $( ".calculateText" ).removeClass( "hide" );
      })    
  });  
</script>
<script> 
  $(document).ready(function() { 
    $( "." ).addClass( ".red-background"); 
    $('.mouseJS').mouseover(function(){
          if ( ($('#load_origin_address_miles').val().length != 0) && 
              ($('#load_origin_address_street').val().length != 0) && 
              ($('#load_origin_address_city').val().length != 0) && 
              ($('#load_origin_address_state').val().length != 0) &&
              ($('#load_origin_address_pick_up_date').val().length != 0) &&
              ($('#load_origin_address_zip').val().length != 0))
                $( ".calculateText" ).removeClass( ".red-background" );
  
          else
              $( ".calculateText" ).removeClass( ".red-background" );
      })    
  });
</script>  