<h1>Trucks</h1>
<table class="table table-bordered table-striped table-condensed table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Plate Number</th>
      <th>Plate State</th>
      <th>Color</th>
      <th>Number</th>
      <th>Average MPG</th>
      <th>Vin</th>
      <th>GPS Identifier</th>
      <th>Notes</th>
      <th>Driver</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @trucks.each do |truck| %> 
    <tr>
      <td><%= truck.id %></td>
      <td><%= truck.year.strftime("%Y") %></td>
      <td><%= truck.make %></td>
      <td><%= truck.model %></td>
      <td><%= truck.plate %></td>
      <td><%= truck.plate_state %></td>
      <td><%= truck.color %></td>
      <td><%= truck.number %></td>
      <td><%= truck.average_mpg %></td>
      <td><%= truck.vin %></td>
      <td><%= truck.gps_unit_ident %></td>
      <td><%= truncate(truck.notes, length: 17) %></td>
      <td>  
        <% if truck.driver_user.present? %>
        <%= link_to truck.driver_user.try(:full_name), driver_user_path(truck.driver_user) %>
        <% else %>
        No Driver Assigned 
        <% end %>
      </td>
      <td><%= link_to 'Show', truck_path(truck), 
        class: "btn btn-info btn-xs round" %></td>
      <td><%= link_to 'Assign/Edit', edit_truck_path(truck),  
        class: "btn btn-primary btn-xs round" %></td>
      <td><%= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure?' },
        class: "btn btn-danger btn-xs round" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="row">
  <div class="col-sm-3">
    <h4>Import Trucks</h4>
    <%= form_tag import_trucks_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn btn-success btn-xs round" %><br>
    <%= submit_tag "Upload Trucks", class: "btn btn-info btn-xs round" %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h4>Export Trucks</h4>
    <%= link_to "Download Trucks", trucks_path(format: :csv), 
      class: "btn btn-primary btn-xs round" %> 
  </div>
</div>
<br />      
<%= link_to 'New Truck', new_truck_path, class: "btn btn-hrcinfo btn-sm round" %> 