<p id="notice"><%= notice %></p>

<h1>Driver Locations</h1>

<table class="table table-bordered table-striped table-condensed table-responsive">
  <thead>
    <tr>
      <th>Driver email</th>
      <th>Parse ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Speed</th>
      <th>Bearing</th>
      <th>Created at</th>
      <th>ID</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @driver_locations.each do |driver_location| %>
      <tr>
        <td><%= driver_location.driver_email %></td>
        <td><%= driver_location.the_parse_id %></td>
        <td><%= driver_location.latitude %></td>
        <td><%= driver_location.longitude %></td>
        <td><%= driver_location.speed %></td>
        <td><%= driver_location.bearing %></td>
        <td><%= local_time (driver_location.parse_created_at) %></td>
        <td><%= driver_location.id %></td>
        <td><%=link_to "show", driver_user_driver_location_path(@driver, driver_location.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


