
<section id="about" class="section">
  <div class="container">
    <!-- Section Header -->
   <!--style="display: none"--><div class="row" style="display: none">
      <div class="col-md-6 col-md-offset-3">
        <header class="text-center">
          <h2 class="section-title">
            <%= @fpt50.string_input %>
            <span class="text-theme">
            Us
            </span>
          </h2>
          <p class="section-subtitle">
            <%= @fpt51.string_input %>
          </p>
        </header>
      </div>
    </div>
    <!-- /Section Header -->
    <div class="row">
      <!-- Feature Block -->
      <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s">
        <span class="icon_link_alt icon fa fa-flag"></span>
        <div class="h3 title">
          <%= @fpt52.string_input %>
        </div>
        <p class="description">
          <%= @fpt53.string_input %>
        </p>
        <!--<a href="#" class="btn btn-theme">-->
        <!--More...-->
        <!--</a>-->
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
        <span class="icon_pens icon fa fa-laptop"></span>  
        <div class="h3 title">
          <%= @fpt54.string_input %>
        </div>
        <p class="description">
          <%= @fpt55.string_input %>
        </p>
        <!--<a href="#" class="btn btn-theme">-->
        <!--More...-->
        <!--</a>-->
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
        <span class="icon_pens icon fa fa-users"></span> 
        <div class="h3 title">
          <%= @fpt56.string_input %>
        </div>
        <p class="description">
          <%= @fpt57.string_input %>
        </p>
        <!--<a href="#" class="btn btn-theme">-->
        <!--More...-->
        <!--</a>-->
      </div>
      <!-- /Feature Block -->
    </div>
  </div>
</section>
<!-- /Section: About -->

