<address>
  <strong><%= @fpt1.string_input %></strong><br>
  <%= @fpt9.string_input %><br>
  <%= @fpt10.string_input %>, <%= @fpt11.string_input %><br>
  <%= @fpt12.string_input %><br>
  <span class= "fa fa-phone"></span> <%= @fpt3.string_input %>
<br>
<span class= "fa fa-fax"></span> <%= @fpt73.string_input %>   
<p>
  <strong>
    US-DOT <%= @fpt14.string_input %> MC <%= @fpt15.string_input %>
  </strong>
</p>
</address>
 
<address> 
  <strong>Email Us</strong><br>
<%= mail_to @fpt2.string_input, @fpt2.string_input, target: '_blank' %>
</address>
</div>

