<!-- Section: More Features -->
<section id="more-features" class="section">
  <div class="container">
    <!-- Section Header -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <header class="text-center">
          <h2 class="section-title">
            <%= @fpt35.string_input %> 
            <span class="text-theme">
            <%= @fpt36.string_input %>
            </span>
          </h2>
          <p class="section-subtitle">
            <%= @fpt37.string_input %>
          </p>
        </header>
      </div>
    </div>
    <!-- /Section Header -->
    <!-- Section Content -->
    <div class="row section-content zoomIn wow">
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature">
        <div class="media">
          <div class="media-left">
            <span class="icon_link_alt icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= @fpt38.string_input %>
            </h3>
            <p class="description">
              <%= @fpt39.string_input %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature">
        <div class="media">
          <div class="media-left">
            <span class="icon_easel icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= @fpt40.string_input %>
            </h3>
            <p class="description">
              <%= @fpt41.string_input %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature">
        <div class="media">
          <div class="media-left">
            <span class="icon_puzzle icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= @fpt42.string_input %>
            </h3>
            <p class="description">
              <%= @fpt43.string_input %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature">
        <div class="media">
          <div class="media-left">
            <span class="icon_download icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= @fpt44.string_input %>
            </h3>
            <p class="description">
              <%= @fpt45.string_input %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature"> 
        <div class="media">
          <div class="media-left">
            <span class="icon_heart_alt icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= @fpt46.string_input %>
            </h3>
            <p class="description">
              <%= @fpt47.string_input %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
      <!-- Feature Block -->
      <div class="col-md-4 col-sm-6 more-feature">
        <div class="media">
          <div class="media-left">
            <span class="icon_cogs icon"></span>
          </div>
          <div class="media-body">
            <h3 class="title">
              <%= @fpt48.string_input %>
            </h3>
            <p class="description">
              <%= @fpt49.string_input %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Feature Block -->
    </div>
    <!-- /Section Content -->
  </div>
</section>
<!-- /Section: More Features -->