
<p>Internal Entity Type: <%= @us_dot.type %></p>
<p>Entity Type: <%= @us_dot.entity_type %></p>
<p>Operating Status: <%= @us_dot.operating_status %></p>
<p>Out Of Service Date: <%= @us_dot.out_of_service_date %></p>
<p>Legal Name: <%= @us_dot.legal_name %></p>
<p>DBA Name: <%= @us_dot.dba_name %></p>
<p>Physical Address: <%= @us_dot.physical_address %></p>
<p>Telephone: <%= @us_dot.phone %></p>
<p>Mailing Address: <%= @us_dot.mailing_address %></p>
<p>US DOT Number: <%= @us_dot.usdot_number %></p>
<p>State Carrier ID:  <%= @us_dot.state_carrier_id_number %></p>
<p>MC MM FF Numbers: <%= @us_dot.mc_mx_ff_numbers %></p>
<p>DUNS Number: <%= @us_dot.duns_number %></p>
<p>Power Units: <%= @us_dot.power_units %> </p>
<p>Number of Drivers: <%= @us_dot.driver_count %></p>
<p>MCS 150 Form Date: <%= @us_dot.mcs_150_form_date %></p>
<p>MCS 150 Mileage Year: <%= @us_dot.mcs_150_mileage_year %></p>

<p>general_freight:<%= @us_dot.general_freight %></p>
<p>household_goods:<%= @us_dot.household_goods %></p>
<p>metal_sheets_coils_rolls:<%= @us_dot.metal_sheets_coils_rolls %></p>
<p>motor_vehicles:<%= @us_dot.motor_vehicles %></p>
<p>drivetow_away:<%= @us_dot.drivetow_away %></p>
<p>logs_poles_beams_lumber:<%= @us_dot.logs_poles_beams_lumber %></p>
<p>building_materials:<%= @us_dot.building_materials %></p>
<p>mobile_homes:<%= @us_dot.mobile_homes %></p>
<p>machinery_large_objects:<%= @us_dot.machinery_large_objects %></p>
<p>fresh_produce:<%= @us_dot.fresh_produce %></p>
<p>safer_layout:<%= @us_dot.safer_layout %></p>
<p>liquids_gases:<%= @us_dot.liquids_gases %></p>
<p>intermodal:<%= @us_dot.intermodal %></p> 
<p>passengers:<%= @us_dot.passengers %></p>
<p>oilfield_equipment:<%= @us_dot.oilfield_equipment %></p>
<p>livestock:<%= @us_dot.livestock %></p>
<p>grain_feed_hay:<%= @us_dot.grain_feed_hay %></p>
<p>coal_coke:<%= @us_dot.coal_coke %></p>
<p>meat:<%= @us_dot.meat %></p>
<p>garbage_refuse:<%= @us_dot.garbage_refuse %></p>
<p>us_mail:<%= @us_dot.us_mail %></p>
<p>chemicals:<%= @us_dot.chemicals %></p>
<p>commodities_dry_bulk:<%= @us_dot.commodities_dry_bulk %></p>
<p>refrigerated_food:<%= @us_dot.refrigerated_food %></p>
<p>beverages:<%= @us_dot.beverages %></p>
<p>paper_products:<%= @us_dot.paper_products %></p>
<p>utilities:<%= @us_dot.utilities %></p>
<p>agricultural_farm_supplies:<%= @us_dot.agricultural_farm_supplies %></p>
<p>construction:<%= @us_dot.construction %></p>
<p>water_well:<%= @us_dot.water_well %></p>
<p>driver_inspections_count:<%= @us_dot.driver_inspections_count %></p>
<p>vehicle_inspections_count:<%= @us_dot.vehicle_inspections_count %></p>
<p>hazmat_inspections_count:<%= @us_dot.hazmat_inspections_count %></p>
<p>iep_inspections_count:<%= @us_dot.iep_inspections_count %></p>
<p>driver_inspections_out_service:<%= @us_dot.driver_inspections_out_service %></p>
<p>vehicle_inspections_out_sercive:<%= @us_dot.vehicle_inspections_out_service %></p>
<p>hazmat_inspections_out_service:<%= @us_dot.hazmat_inspections_out_service %></p>
<p>iep_inspections_out_service:<%= @us_dot.iep_inspections_out_service %></p>
<p>driver_inspections_out_service:<%= @us_dot.driver_inspections_out_service_percent %></p>
<p>vehicle_inspections_out_service:<%= @us_dot.vehicle_inspections_out_service_percent %></p>
<p>hazmat_inspections_out_service_percent:<%= @us_dot.hazmat_inspections_out_service_percent %></p>
<p>iep_inspections_out_service:<%= @us_dot.iep_inspections_out_service_percent %></p>
<p>crash_fatal:<%= @us_dot.crash_fatal %></p>
<p>crash_injury:<%= @us_dot.crash_injury %></p>
<p>crash_tow:<%= @us_dot.crash_tow %></p>
<p>crash_total:<%= @us_dot.crash_total %></p>
<p>cad_vehicle_inspections:<%= @us_dot.cad_vehicle_inspections %></p>
<p>cad_driver_inspections:<%= @us_dot.cad_driver_inspections %></p>
<p>cad_vehicle_out_of_service:<%= @us_dot.cad_vehicle_out_of_service %></p>
<p>cad_driver_out_of_service:<%= @us_dot.cad_driver_out_of_service %></p>
<p>cad_vehicle_out_of_service_percent:<%= @us_dot.cad_vehicle_out_of_service_percent %></p>
<p>cad_driver_out_of_service_percent:<%= @us_dot.cad_driver_out_of_service_percent %></p>
<p>us_inspections_prev_24:<%= @us_dot.us_inspections_prev_24 %></p>
<p>cad_inspections_prev_24: <%= @us_dot.cad_inspections_prev_24 %></p> 

<p>:crash_results_24_prior : <%= @us_dot.crash_results_24_prior %></p>
<p>:cad_crash_results_24_prior : <%= @us_dot.cad_crash_results_24_prior %></p> 
<p>:cad_crash_fatal : <%= @us_dot.cad_crash_fatal %></p>
<p>:cad_crash_injury : <%= @us_dot.cad_crash_injury %></p> 
<p>:cad_crash_tow  : <%= @us_dot.cad_crash_tow  %></p>  
<p>:cad_crash_total : <%= @us_dot.cad_crash_total %></p> 
<p>:us_inspection_results_for_24_months_prior_to: <%= @us_dot.us_inspection_results_for_24_months_prior_to%></p>
<p>:total_inspections: <%= @us_dot.total_inspections%></p>
<p>:total_iep_inspections: <%= @us_dot.total_iep_inspections%></p>
<p>:crash_inspections: <%= @us_dot.crash_inspections%></p>
<p>:the_rating_below_is_current_as_of: <%= @us_dot.the_rating_below_is_current_as_of%></p>
<p>:rating_date : <%= @us_dot.rating_date %></p>
<p>:review_date : <%= @us_dot.review_date %></p>
<p>:review_rating: <%= @us_dot.review_rating%></p>
<p>:review_type: <%= @us_dot.review_type%></p>