
<%= simple_form_for(@app_variable) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :app_name %>

    <%= f.input :app_logo_text,label: "Leave BLANK if using a image as a logo"  %>
    <%= f.input :app_tab_text %>
    <%= f.input :app_slogan %>
    <%= f.input :app_favi %>
    <%= f.input :app_terms %>
    <%= f.input :app_conditions %>
    <%= f.input :theme, collection: ApplicationRecord::Theme, 
        label: false, include_blank: "Application Theme" %>
    <%= f.input:front_end_color, collection: ApplicationRecord::FeColor, 
          label: false, include_blank: "Front End Color"%>  
      <%= f.input:app_name %>
      <%= f.input:app_tab_text %>
      <%= f.input:app_slogan %>
      <%= f.input:app_favi %>
      <%= f.input:app_frontend_logo_text %>
      <%= f.input:email %>
      <%= f.input:telephone %>
      <%= f.input:street %>
      <%= f.input:city %>
      <%= f.input:state %>
      <%= f.input:zip %>
      <%= f.input:street_2 %>
      <%= f.input:city_2 %>
      <%= f.input:state_2 %>
      <%= f.input:zip_2 %>
      <%= f.input:string_1 %>
      <%= f.input:string_2 %>
      <%= f.input:string_3 %>
      <%= f.input:string_4 %>
      <%= f.input:string_5 %>
      <%= f.input:string_6 %>
      <%= f.input:string_7 %>
      <%= f.input:string_8 %>
      <%= f.input:string_9 %>
      <%= f.input:string_10 %>
      <%= f.input:string_11 %>
      <%= f.input:string_12 %>
      <%= f.input:string_13 %>
      <%= f.input:string_14 %>
      <%= f.input:string_15 %>
      <%= f.input:string_16 %>
      <%= f.input:string_17 %>
      <%= f.input:string_18 %>
      <%= f.input:string_19 %>
      <%= f.input:string_20 %>
      <%= f.input:string_21 %>
      <%= f.input:string_22 %>
      <%= f.input:string_23 %>
      <%= f.input:string_24 %>
      <%= f.input:string_25 %>
      <%= f.input:string_26 %>
      <%= f.input:string_27 %>
      <%= f.input:string_28 %>
      <%= f.input:string_29 %>
      <%= f.input:string_30 %>
      <%= f.input:text_1 %>
      <%= f.input:text_2 %>
      <%= f.input:text_3 %>
      <%= f.input:text_4 %>
      <%= f.input:text_5 %>
      <%= f.input:text_6 %>
      <%= f.input:text_7 %>
      <%= f.input:text_8 %>
      <%= f.input:text_9 %>
      <%= f.input:text_10 %>
      <%= f.input:text_11 %>
      <%= f.input:text_12 %>
      <%= f.input:text_13 %>
      <%= f.input:text_14 %>
      <%= f.input:text_15 %>
      <%= f.input:text_16 %>
      <%= f.input:text_17 %>
      <%= f.input:text_18 %>
      <%= f.input:text_19 %>
      <%= f.input:text_20 %>
      <%= f.input:icon_1 %>
      <%= f.input:icon_2 %>
      <%= f.input:icon_3 %>
      <%= f.input:icon_4 %>
      <%= f.input:icon_5 %>
      <%= f.input:icon_6 %>
      <%= f.input:icon_7 %>
      <%= f.input:icon_8 %>
      <%= f.input:icon_9 %>
      <%= f.input:icon_10 %>
      <%= f.input:icon_11 %>
      <%= f.input:icon_12 %>
      <%= f.input:icon_13 %>
      <%= f.input:icon_14 %>
      <%= f.input:icon_15 %>
      <%= f.input:icon_16 %>
      <%= f.input:icon_17 %>
      <%= f.input:icon_18 %>
      <%= f.input:icon_19 %>
      <%= f.input:icon_20 %>
      <%= f.input:icon_21 %>
      <%= f.input:icon_22 %>
      <%= f.input:icon_23 %>
      <%= f.input:icon_24 %>
      <%= f.input:icon_25 %>
      <%= f.input:icon_26 %>
      <%= f.input:icon_27 %>
      <%= f.input:icon_28 %>
      <%= f.input:icon_29 %>
      <%= f.input:icon_30 %>
     
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
