<p id="notice"><%= notice %></p>

<p>
  <strong>App name:</strong>
  <%= @app_variable.app_name %>
</p>

<p>
  <strong>App logo:</strong>
none
</p>

<p>
  <strong>App logo name:</strong>
  <%= @app_variable.app_logo_text %>
</p>

<p>
  <strong>App tab name:</strong>
  <%= @app_variable.app_tab_text %>
</p>

<p>
  <strong>App slogan:</strong>
  <%= @app_variable.app_slogan %>
</p>

<p>
  <strong>App favi:</strong>
  <%= @app_variable.app_favi %>
</p>

<p>
  <strong>App terms:</strong>
  <%= @app_variable.app_terms %>
</p>

<p>
  <strong>App conditions:</strong>
  <%= @app_variable.app_conditions %>
</p>


<p>
  <strong>Theme</strong>
  <%= @app_variable.theme %>
</p>


<%= link_to 'Edit', edit_app_variable_path(@app_variable) %> |
<%= link_to 'Back', app_variables_path %>


