<div class="col-sm-12 col-sm-offset-0 shadow round well">
  <h2><%= @load.company_profile.company_name %></h2>
  <h3>
    <small> 
    <%= link_to load_path(@load) do %>
    <%= @load.title %>
    <% end %>
    </small>
  </h3>
  <%= simple_form_for(@load, html: { class: "input-sm" }) do |f| %>
  <%= render 'loads/edit_load_partials/top_row', f: f %>
  <%= render 'loads/edit_load_partials/load_truck_info', f: f %> 
  <%= render 'loads/edit_load_partials/rate_details_broker_contact', f: f %> 
  <%= render 'loads/edit_load_partials/multiple_weight_cool', f: f %> 
  <%= render 'loads/edit_load_partials/load_addresses', f: f %>  
  <%= f.input :broker_after_hours_instructions, label: "After hours instructions", placeholder: "ask for jim at gate, call frank at...", class: 'form-control'  %>
  <% if !@load.has_multiple_pd? %>
  <div class="row">
    <div id="idToHide">
      <div class="col-sm-3">
        <div class="form-group input-group">
          <%= f.input :truck_mpg, label: "Truck MPG" %>
          <% @national_average_diesel_price %> 
          <%= f.input :miles, input_html: { id: "edit_load_miles" }  %> 
          <%= f.input :kilometers, input_html: { id: "edit_load_kilometers_2" } %> 
          <%= f.text_field :national_average_diesel_price,
            value: (number_with_precision(@national_average_diesel_price, :precision => 2) || 0), 
            label: "National Average Fuel Price", hidden: true %>
        </div>
      </div>
    </div>
  </div>
  <!--end of row-->
  <div class="form-actions pull-right">
    <div id="theSubmitButton">
      <%= f.button :submit, class: "btn btn-success round" %>
      <% end %>
    </div>
  </div>
  <% if !@load.has_multiple_pd? %>
  <div id="idToHide2" class="pull-left"><%= render "calculate_distance" %></div>
  <% end %>
</div>
<% end %>
</div>