<%= simple_form_for [@company_profile, @company_profile_membership] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
          <%= f.input :company_profile_id %>  
          <%= f.collection_select :user_id, @users.all.order(:email),
            :id, :email, include_blank: "Select User" %>    
            
   
    <%= f.input :membership_type, 
    collection: ApplicationRecord::CompanyProfileMembershipStatus %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,
      class: 'btn btn-info btn-sm round' %>
  </div>
<% end %>


