<div class="col-sm-12 col-sm-offset-0 shadow round well">
  <div class="">
    <div class="col-sm-12 col-sm-offset-0 shadow round well">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">New Load</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-truck"></i></span>
                <%= f.collection_select :driver_user_id, @driver.all.order(:first_name),
                  :id, :driver_name_and_type, {include_blank: "Select Driver"}, {id: "select-driver"} %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-ship"></i></span>
                <%= f.collection_select :company_profile_id, @company_profile.all.order(:company_name),
                  :id, :company_name, include_blank: "Broker/Shipper" %><br />
                <%= link_to "Add Broker", new_company_profile_path,
                  class: "btn btn-info btn-xs round" %>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-arrows-h"></i></span>
                <%= f.input :broker_shipper_load_id, label: false, placeholder: "Brk Load ID" %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                <%= f.input :load_size, collection: ApplicationRecord::LoadSize,
                  label: false, include_blank: "FTL - LTL" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>