
<p>Internal Entity Type: <%= @broker_mc.type %></p>
<p>Entity Type: <%= @broker_mc.entity_type %></p>
<p>Operating Status: <%= @broker_mc.operating_status %></p>
<p>Out Of Service Date: <%= @broker_mc.out_of_service_date %></p>
<p>Legal Name: <%= @broker_mc.legal_name %></p>
<p>DBA Name: <%= @broker_mc.dba_name %></p>
<p>Physical Address: <%= @broker_mc.physical_address %></p>
<p>Telephone: <%= @broker_mc.phone %></p>
<p>Mailing Address: <%= @broker_mc.mailing_address %></p>
<p>US DOT Number: <%= @broker_mc.usdot_number %></p>
<p>State Carrier ID:  <%= @broker_mc.state_carrier_id_number %></p>
<p>MC MM FF Numbers: <%= @broker_mc.mc_mx_ff_numbers %></p>
<p>DUNS Number: <%= @broker_mc.duns_number %></p>
<p>Power Units: <%= @broker_mc.power_units %> </p>
<p>Number of Drivers: <%= @broker_mc.driver_count %></p>
<p>MCS 150 Form Date: <%= @broker_mc.mcs_150_form_date %></p>
<p>MCS 150 Mileage Year: <%= @broker_mc.mcs_150_mileage_year %></p>

<p>general_freight:<%= @broker_mc.general_freight %></p>
<p>household_goods:<%= @broker_mc.household_goods %></p>
<p>metal_sheets_coils_rolls:<%= @broker_mc.metal_sheets_coils_rolls %></p>
<p>motor_vehicles:<%= @broker_mc.motor_vehicles %></p>
<p>drivetow_away:<%= @broker_mc.drivetow_away %></p>
<p>logs_poles_beams_lumber:<%= @broker_mc.logs_poles_beams_lumber %></p>
<p>building_materials:<%= @broker_mc.building_materials %></p>
<p>mobile_homes:<%= @broker_mc.mobile_homes %></p>
<p>machinery_large_objects:<%= @broker_mc.machinery_large_objects %></p>
<p>fresh_produce:<%= @broker_mc.fresh_produce %></p>
<p>safer_layout:<%= @broker_mc.safer_layout %></p>
<p>liquids_gases:<%= @broker_mc.liquids_gases %></p>
<p>intermodal:<%= @broker_mc.intermodal %></p> 
<p>passengers:<%= @broker_mc.passengers %></p>
<p>oilfield_equipment:<%= @broker_mc.oilfield_equipment %></p>
<p>livestock:<%= @broker_mc.livestock %></p>
<p>grain_feed_hay:<%= @broker_mc.grain_feed_hay %></p>
<p>coal_coke:<%= @broker_mc.coal_coke %></p>
<p>meat:<%= @broker_mc.meat %></p>
<p>garbage_refuse:<%= @broker_mc.garbage_refuse %></p>
<p>us_mail:<%= @broker_mc.us_mail %></p>
<p>chemicals:<%= @broker_mc.chemicals %></p>
<p>commodities_dry_bulk:<%= @broker_mc.commodities_dry_bulk %></p>
<p>refrigerated_food:<%= @broker_mc.refrigerated_food %></p>
<p>beverages:<%= @broker_mc.beverages %></p>
<p>paper_products:<%= @broker_mc.paper_products %></p>
<p>utilities:<%= @broker_mc.utilities %></p>
<p>agricultural_farm_supplies:<%= @broker_mc.agricultural_farm_supplies %></p>
<p>construction:<%= @broker_mc.construction %></p>
<p>water_well:<%= @broker_mc.water_well %></p>
<p>driver_inspections_count:<%= @broker_mc.driver_inspections_count %></p>
<p>vehicle_inspections_count:<%= @broker_mc.vehicle_inspections_count %></p>
<p>hazmat_inspections_count:<%= @broker_mc.hazmat_inspections_count %></p>
<p>iep_inspections_count:<%= @broker_mc.iep_inspections_count %></p>
<p>driver_inspections_out_service:<%= @broker_mc.driver_inspections_out_service %></p>
<p>vehicle_inspections_out_sercive:<%= @broker_mc.vehicle_inspections_out_service %></p>
<p>hazmat_inspections_out_service:<%= @broker_mc.hazmat_inspections_out_service %></p>
<p>iep_inspections_out_service:<%= @broker_mc.iep_inspections_out_service %></p>
<p>driver_inspections_out_service:<%= @broker_mc.driver_inspections_out_service_percent %></p>
<p>vehicle_inspections_out_service:<%= @broker_mc.vehicle_inspections_out_service_percent %></p>
<p>hazmat_inspections_out_service_percent:<%= @broker_mc.hazmat_inspections_out_service_percent %></p>
<p>iep_inspections_out_service:<%= @broker_mc.iep_inspections_out_service_percent %></p>
<p>crash_fatal:<%= @broker_mc.crash_fatal %></p>
<p>crash_injury:<%= @broker_mc.crash_injury %></p>
<p>crash_tow:<%= @broker_mc.crash_tow %></p>
<p>crash_total:<%= @broker_mc.crash_total %></p>
<p>cad_vehicle_inspections:<%= @broker_mc.cad_vehicle_inspections %></p>
<p>cad_driver_inspections:<%= @broker_mc.cad_driver_inspections %></p>
<p>cad_vehicle_out_of_service:<%= @broker_mc.cad_vehicle_out_of_service %></p>
<p>cad_driver_out_of_service:<%= @broker_mc.cad_driver_out_of_service %></p>
<p>cad_vehicle_out_of_service_percent:<%= @broker_mc.cad_vehicle_out_of_service_percent %></p>
<p>cad_driver_out_of_service_percent:<%= @broker_mc.cad_driver_out_of_service_percent %></p>
<p>us_inspections_prev_24:<%= @broker_mc.us_inspections_prev_24 %></p>
<p>cad_inspections_prev_24: <%= @broker_mc.cad_inspections_prev_24 %></p> 

<p>:crash_results_24_prior : <%= @broker_mc.crash_results_24_prior %></p>
<p>:cad_crash_results_24_prior : <%= @broker_mc.cad_crash_results_24_prior %></p> 
<p>:cad_crash_fatal : <%= @broker_mc.cad_crash_fatal %></p>
<p>:cad_crash_injury : <%= @broker_mc.cad_crash_injury %></p> 
<p>:cad_crash_tow  : <%= @broker_mc.cad_crash_tow  %></p>  
<p>:cad_crash_total : <%= @broker_mc.cad_crash_total %></p> 
<p>:us_inspection_results_for_24_months_prior_to: <%= @broker_mc.us_inspection_results_for_24_months_prior_to%></p>
<p>:total_inspections: <%= @broker_mc.total_inspections%></p>
<p>:total_iep_inspections: <%= @broker_mc.total_iep_inspections%></p>
<p>:crash_inspections: <%= @broker_mc.crash_inspections%></p>
<p>:the_rating_below_is_current_as_of: <%= @broker_mc.the_rating_below_is_current_as_of%></p>
<p>:rating_date : <%= @broker_mc.rating_date %></p>
<p>:review_date : <%= @broker_mc.review_date %></p>
<p>:review_rating: <%= @broker_mc.review_rating%></p>
<p>:review_type: <%= @broker_mc.review_type%></p>