<h1>Transactions</h1>

<table class="table table-bordered table-striped table-condensed table-responsive">
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Business name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.expense_type %></td>
        <td><%= transaction.debit %></td>
        <td><%= transaction.street %></td>
        <td><%= transaction.city %></td>
        <td><%= transaction.state %></td>
        <td><%= transaction.zip %></td>
        <td><%= transaction.business_name %></td>
        <td><%= link_to 'Show', load_transaction_path(@load, transaction) %></td> 
        <td><%= link_to 'Edit', edit_load_transaction_path(@load, transaction) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


