

<!--Public Section-->

<%= render "front_pages/html/navigation" %> 



<main class="main-container">
<%= render "front_pages/html/slider" %>
<%= render "front_pages/html/about" %>
<%= render "front_pages/html/events" %> 
<% render "front_pages/html/flip_cards" %>   
<!--< %= render "front_pages/html/features" %> -->
<!--< %= render "front_pages/html/statistics" %>   -->
<!--< %= render "front_pages/html/best_features" %>     -->
<%= render "front_pages/html/partners" %> 
</main>

<%= render "front_pages/html/footer" %>  

<div id="scroll-to-top" class="scroll-to-top">
    <i class="icon fa fa-angle-up"></i>
</div>

